* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
    user-select: none;
}

body {
    background-image: linear-gradient(to right, rgb(136, 0, 255), rgb(200, 0, 200));
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.main_head {
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
}

.main_container {
    width: 1300px;
    height: 900px;
    border: 1px solid white;
    border-radius: 10px;
    margin: 30px auto;
    background-color: rgba(255, 255, 255, .3);
}


.calender,
.selected-day {
    width: 1280px;
    height: 320px;
    margin: 15px 10px;
    background-color: white;
    border-radius: 10px;
}

.calender {
    height: 520px;
}

.selected-day {
    margin: 20px 10px 20px 10px;
    opacity: 0;
    transform: translateY(50px);
    transition: all 1s;
    display: flex;
}

.selected-day-loading {
    opacity: 1;
    transform: translateY(0);
}

.month_year_selection {
    width: 100%;
    height: 100px;
    background-color: rgba(0, 0, 255, 0.307);
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.date_selection {
    margin: auto 10px;
}

.date_display {
    width: 300px;
    height: 55px;
    border-radius: 10px;
    padding: 10px auto;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.day_show,
.month_show,
.year_show {
    width: 40px;
    height: 35px;
    margin: auto 20px;
    font-size: 20px;
    border-radius: 5px;
    background-color: rgba(90, 46, 104, 0.27);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.year_selection,
.month_selection {
    width: 500px;
    height: 35px;
    border-radius: 5px;
    margin: 5px auto;
    background-color: white;
    display: flex;
    justify-content: space-between;
}

.prevoius_month,
.prevoius_year {
    font-size: 25px;
    color: red;
    width: 40px;
    border: 1px solid red;
    border-radius: 5px;
    background-color: rgba(255, 0, 0, 0.342);
    transition: background-color 300ms;
}

.prevoius_month:hover,
.prevoius_year:hover {
    background-color: rgba(255, 0, 0, 0.5);
}

.prevoius_month:active,
.prevoius_year:active {
    background-color: rgba(255, 0, 0, 0.7);
}

.next_month,
.next_year {
    font-size: 25px;
    color: green;
    width: 40px;
    border: 1px solid green;
    border-radius: 5px;
    background-color: rgba(0, 255, 0, 0.342);
    transition: background-color 300ms;
}

.next_month:hover,
.next_year:hover {
    background-color: rgba(0, 255, 0, 0.5);
}

.next_month:active,
.next_year:active {
    background-color: rgba(0, 255, 0, 0.7);
}

.months,
.years {
    width: 420px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    flex-wrap: nowrap;
    text-wrap: nowrap;
    transition: all 300ms;
}

.month,
.year {
    width: 50px;
    display: flex;
    justify-content: center;
}



.days_in_month_table {
    width: 900px;
    height: 360px;
    background-color: rgba(137, 43, 226, 0.371);
    margin: 5px auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;

}

.week_days {
    height: 35px;
    width: 800px;
    margin: 20px auto 5px auto;
    display: flex;
    justify-content: center;


}

.week_day {
    width: 85px;
    height: 100%;
    background-color: rgba(29, 29, 255, 0.345);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 15px;
}


.week {
    width: 800px;
    height: 47px;
    margin: 5px auto;
    display: flex;
    justify-content: center;

}

.day {
    width: 90px;
    height: 50px;
    margin: 0 25px;
    background-color: rgba(255, 255, 255, 0.808);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    transition: background-color 200ms, transform 300ms;
}

.day:hover {
    background-color: rgba(0, 255, 0, .35);
    transform: scale(1.07, 1.07);
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
}

/* .day:active {
    background-color: rgba(0, 0, 0, 0.338);
} */

.selected_day_animation {
    border: 2px solid black;
    background-color: rgba(0, 255, 0, 0.353);
}


.day_number {
    width: 100%;
    height: 100%;
    font-size: 20px;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 5px;

}

.works_count {
    width: 100%;
    height: 50%;
    font-size: 12px;
    opacity: .8;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    padding: 0 5px;
}



.work_user_input {
    height: 320px;
    width: 600px;
    background-color: black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.user_input_textarea {
    width: 400px;
    height: 200px;
    margin: 30px 85px 0 85px;
    background-color: rgba(41, 41, 41, 1);
    border: 1px solid rgba(255, 255, 255, 0);
    outline: 1px solid rgba(255, 255, 255, 0);
    resize: none;
    border-radius: 10px;
    color: white;
    padding: 10px;
    font-size: 20px;
    transition: border 300ms;
    user-select: text;

}

.user_input_textarea::selection {
    background-color: rgba(255, 255, 255, 0.304);
}

.user_input_textarea:focus {
    border: 1px solid rgba(255, 255, 255, 0.4);
}

.submit_work_btn {
    margin: 0 auto 50px auto;
    font-size: 17px;
    padding: 7px;
    border-radius: 10px;
}


.textarea_guide {
    color: rgba(255, 255, 255, 0.318);
    position: relative;
    bottom: 160px;
    right: 15px;
    transition: opacity 200ms;
    display: flex;
}

.character_count {
    color: rgba(255, 255, 255, 0.701);
    position: relative;
    bottom: 45px;

}

.works_list {
    width: 640px;
    margin: 5px 15px;
    direction: rtl;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
}

.work {
    /* direction: ltr; */
    width: 275px;
    height: 240px;
    margin: 10px auto;
    border: 2px solid purple;
    border-radius: 10px;
    background-color: rgba(198, 43, 226, 0.332);
    color: purple;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.622);
    transition: transform 500ms, box-shadow 300ms;
}

.work:hover {
    transform: scale(1.07, 1.07);
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.work_txt {
    width: 255px;
    height: 200px;
    margin: 10px auto;
    border-radius: 5px;
    padding: 0 5px;
    border: 1px solid purple;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;


}

/* .done_work {
    background-color: rgba(25, 252, 0, 0.56);
    color: rgb(0, 72, 0);
} */

.work_txt p {
    word-break: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    user-select: text;
}

.work_txt p::selection {
    background-color: rgba(247, 0, 247, 0.442);
}

.task_status_done {
    width: 90%;
    height: 20px;
    border: 1px solid green;
    border-radius: 5px;
    margin: 10px auto;
    background-color: rgba(0, 255, 0, 0.519);
    color: rgb(0, 78, 0);
    display: flex;
    justify-content: center;

}

.task_status_not_done {
    width: 90%;
    height: 20px;
    border: 1px solid red;
    border-radius: 5px;
    margin: 10px auto;
    background-color: rgba(255, 0, 0, 0.519);
    color: rgb(78, 0, 0);
    display: flex;
    justify-content: center;
}

.buttons {
    width: 100%;
    height: 40px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.done {
    width: 30px;
    height: 30px;
    margin: 0 10px;
    background-color: rgba(0, 255, 0, 0.342);
    border: 1px solid green;
    transition: background-color 300ms;

}

.done:hover {
    background-color: rgba(0, 255, 0, 0.5);
}

.delete {
    width: 30px;
    height: 30px;
    margin: 0 10px;
    background-color: rgba(255, 0, 0, 0.342);
    border: 1px solid red;
    transition: background-color 300ms;

}

.delete:hover {
    background-color: rgba(255, 0, 0, 0.5);
}

.task_number {
    direction: ltr;
    width: 100%;
    height: 20px;
    background-color: rgba(42, 178, 32, 0.5);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    color: rgb(0, 78, 0);
}



@media screen and (max-width : 1340px) {

    header,
    .main_container,
    .calender,
    .selected-day {
        width: 100%;
        margin: 0;
    }

    .main_container {
        margin: 0;
    }


}

@media screen and (max-width: 925px) {
    .main_container {
        height: 1500px;
    }

    .days_in_month_table {
        margin: 20px 5px;
        width: 99%;
        overflow-x: scroll;
    }

    .selected-day {
        height: 700px;
        flex-direction: column;
        align-items: center;
    }

    form {
        width: 100% !important;
        margin: 0 auto;
        padding: 0;
    }

    .works_list {
        width: 100%;
        height: 350px;
    }
}

@media screen and (max-width: 845px) {
    .month_year_selection {
        flex-direction: column;
        height: 175px;
    }

    .date_display {
        margin: 15px auto;
    }

    .calender {
        height: 600px;
    }
    .days_in_month_table{
        height: 400px;
    }
    .day{
        margin:10px 20px;
    }
    .week{
        margin: 7px auto;
    }
}

@media screen and (max-width: 515px) {
    .date_selection {
        width: 100%;
    }

    .year_selection,
    .month_selection {
        width: 100%;
    }

    .user_input_textarea {
        width: 100%;
        height: 300px !important;
        font-size: 14px;
    }
    .textarea_guide{
        font-size: 12px;
    }
}

@media screen and (max-width : 350px) {
    .textarea_guide {
        bottom: 155x;
    }

}